html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  text-align: center;
}

div {
  display: block;
  margin: 1em;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  border-color: #333;
  background-color: #333;
  color: #fff;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
  border-color: #666;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-warning {
  background-color: #f33;
  border-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
  border-color: #933;
}
