html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  text-align: center;
}

div {
  padding: .5rem;
  text-align: center;
  border-radius: 8px;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
}

a {
  color: #fff;
  text-decoration: none;
}

.primary {
  font-size: 1.125em;
}
.btn {
  color: #fff;
  background-color: #000;
}

.btn:hover {
  background-color: #333;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost a {
  color: #333;
  background-color: #fff;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
}

.btn-ghost a:hover {
  color: #fff;
  background-color: #666;
  border-style: solid;
  border-width: 3px;
  border-color: #666;
}

.btn-ghost .btn-small {
  font-size: .875rem;
}

.btn-warning {
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
